    <!--
        ======================================================================
                                navbar start
        ======================================================================
    -->
 <nav class="navbar w-full shadow bg-white h-20 absolute">
        <div class="left-[249.70px] top-[10.09px] absolute justify-start items-center gap-2 inline-flex">
          <div class="w-16 h-16 relative">
            <svg width="63" height="65" viewBox="0 0 63 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.956299 25.1804C0.61712 21.207 2.73017 17.5238 6.10423 15.3981L23.98 4.13641C27.9285 1.64888 32.935 1.57269 36.9573 3.93891L55.0254 14.5678C59.3442 17.1085 61.614 22.0851 60.3257 26.9273C58.4056 34.1445 55.0441 44.4704 50.3128 50.5895C45.9804 56.1927 38.1806 60.4246 33.0546 62.7706C30.9173 63.7488 28.748 61.8416 29.2925 59.555L31.0028 52.372C31.0028 52.372 12.3993 51.0361 6.04822 42.5684C2.6664 38.0596 1.41478 30.5514 0.956299 25.1804Z" fill="#016BFF"/>
                <circle cx="18.387" cy="27.1207" r="3.26785" fill="white"/>
                <circle cx="32.052" cy="27.1207" r="3.26785" fill="white"/>
                <circle cx="45.7171" cy="27.1207" r="3.26785" fill="white"/>
                </svg>
                         
          </div>
          <div class="text-center text-black text-2xl font-bold">Chatify</div>
        </div>
        <ul class="left-[503.31px] top-[30.26px] absolute justify-start items-start gap-16 inline-flex">
                <li class="text-center text-gray-600 text-2xl font-normal hover:text-blue-600"> <a routerLink="#">Pricing</a></li>
                <li class="text-center text-gray-600 text-2xl font-normal  hover:text-blue-600"><a routerLink="#">Company</a> </li>
                <li class="text-gray-600 text-2xl font-normal  hover:text-blue-600"><a routerLink="#"> Demo</a></li>
        </ul>
        <button routerLink="/login" class="w-40 h-11 left-[85%]
        hover:bg-blue-800
        top-[20.17px] text-white absolute bg-blue-600 rounded-3xl">Log in</button>
        
 </nav>
 <!--=========================================================================================
                                    End navbar  
     ========================================================================================-->
 <div class=" ">
   <h1>Cloud Chat System For Your Business</h1>
 </div>
    